.box {
  display: flex;
  justify-content: space-evenly;
  grid-column: 1/span 3;
  grid-row: 6;
  /*perspective: 300px;*/
  /*perspective-origin: 50px 50px;*/
}
.box .cube {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0,.5);
  transform-style: preserve-3d;
  transform: perspective(300px) translateZ(-50px);
  /*transform-origin: 50px 50px;*/
  transition: 1s;
}

.cube:hover {
  transform: perspective(300px) translateZ(-50px) rotateY(180deg);
}

.cube:nth-child(2):hover {
  transform: perspective(300px) translateZ(-50px) rotate3d(1,1,1, 179deg);
}

.cube:nth-child(3):hover {
  transform: perspective(300px) translateZ(-50px) rotateY(180deg) scale3d(1, 1, 2);
}

.cube:nth-child(4):hover {
  transform: perspective(300px) translateZ(-50px) rotateY(270deg) rotateX(-90deg);
}
.box .item {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background-color: rgba(255,0,0,.7);
  border: 3px solid #000;
}

@for $i from 1 through 6 {
  .box .item:nth-child(#{$i}){
    @if ($i == 1) { transform: translateZ(-50px); }
    @if ($i == 2) { transform: rotateY(-90deg) translateZ(50px); }
    @if ($i == 3) { transform: rotateX(90deg) translateZ(50px); }
    @if ($i == 4) { transform: rotateY(90deg) translateZ(50px); }
    @if ($i == 5) { transform: translateZ(50px); }
    @if ($i == 6) { transform: rotateX(-90deg) translateZ(50px); }
    @if ($i % 1 == 0) and ($i % 2 != 0) and ($i % 3 != 0) { background-color: rgba(0,255,0,.7) };
    @if ($i % 2 == 0) and ($i % 3 != 0) { background-color: rgba(255,0,0,.7); }
    @if ($i % 3 == 0) { background-color: rgba(0,0,255,.7); }
  }
}